body {
  background-color: lightblue;
}

h1 {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size:150%;
  color: #4F7849;
  margin-left: 20px;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


table.table {
  font-family: "Arial Black", Gadget, sans-serif;
  border: 10px solid #4F7849;
  background-color: #EEEEEE;
  width: 100%;
  text-align: center;
}
table.table td, table.table th {
  border: 1px solid #4F7849;
  padding: 10px 8px;
}
table.table tbody td {
  font-size: 24px;
  font-weight: bold;
  color: #4F7849;
}
table.table tr:nth-child(even) {
  background: #CEE0CC;
}
table.table tfoot {
  font-size: 21px;
  font-weight: bold;
  color: #FFFFFF;
  background: #4F7849;
  background: -moz-linear-gradient(top, #7b9a76 0%, #60855b 66%, #4F7849 100%);
  background: -webkit-linear-gradient(top, #7b9a76 0%, #60855b 66%, #4F7849 100%);
  background: linear-gradient(to bottom, #7b9a76 0%, #60855b 66%, #4F7849 100%);
  border-top: 1px solid #444444;
}
table.table tfoot td {
  font-size: 21px;
}

